{% extends 'base.html' %}
{% load my_tags %}
{% block title %}
  {{ genre }}
{% endblock %}
{% block content %}
  <div class="container py-5">
    <h1> Песни жанра {{ genre }} </h1>
    <hr>
      {% if page_obj  %}
        {% for music in page_obj %}
          {% include 'music/includes/music_list.html' %}
          {% if not forloop.last %}
            <hr>
          {% endif %}
        {% endfor %}
      {% else %}
        <h3>Пока пусто</h3>
      {% endif %}
      {% include 'includes/paginator.html' %}
  </div>
{% endblock %}